@model IEnumerable<FintechPro.Models.Asset>

<h2>Portfolio</h2>

<p>Total Value: @ViewData["Total"]</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Value</td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>